apiVersion: v1
kind: Service
metadata:
  name: {{ include "featurehub.dacha.name" . }}
  labels:
  {{- include "featurehub.dacha.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: internal
      protocol: TCP
      name: http
  selector:
  {{- include "featurehub.dacha.selectorLabels" . | nindent 4 }}
