apiVersion: v1
kind: Service
metadata:
  name: {{ include "featurehub.edge.name" . }}
  labels:
  {{- include "featurehub.edge.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
  {{- include "featurehub.edge.selectorLabels" . | nindent 4 }}
