{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "featurehub.fullname" . }}-ingress
  labels:
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  defaultBackend:
    service:
      name: {{ include "featurehub.managementRepository.name" . }}
      port:
        name: http
  rules:
  {{- if .Values.ingress.hosts }}
    {{- range $host := .Values.ingress.hosts }}
    - host: {{ $host }}
    {{- end }}
  {{- end }}
    - http:
        paths:
          - path: /features
            pathType: Prefix
            backend:
              service:
                name: {{ .Values.ingress.edgeServiceNameOverride | default (include "featurehub.edge.name" .) }}
                port:
                  name: http
  {{- end }}
