version: '3.1'

services:
  nats:
    image: nats:2.1.7-alpine
    restart: always
    ports:
    - 4222:4222
  mr-server:
    image: featurehub/mr:latest
    restart: always
    user: 999:999
    volumes:
      - ./app-config:/etc/app-config
    ports:
      - 8085:8085
    depends_on:
      - "db"
      - "nats"
  dacha:
    image: featurehub/dacha:latest
    restart: always
    user: 999:999
    volumes:
      - ./dacha-config:/etc/app-config
#      - ./common-config:/etc/common-config
    depends_on:
      - "mr-server"
      - "nats"
    ports:
      - 8902:8902
  edge:
    image: featurehub/edge:latest
    restart: always
    user: 999:999
    volumes:
      - ./edge-config:/etc/app-config
# use the below if you wish to override the logs
#      - ./common-config:/etc/common-config
    ports:
      - 8553:8553
    depends_on:
      - "nats"
  db:
    image: postgres:12-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: mypassword
    volumes:
      - ./initdb:/docker-entrypoint-initdb.d
      - featurehub-ps1-db:/var/lib/postgresql/data
    ports:
      - 5432:5432
volumes:
  featurehub-ps1-db:
